.container {
    max-width: 550px;
    margin: auto;

    margin-top: 50px;
    background-color: lightblue;

    mat-card-header {
        .header-image {
            background-image: url('../../../assets/rules-icon-png.png');
            background-size: cover;
        }
    }

    mat-list {
        mat-card {
            margin-bottom: 10px;
    
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}