<mat-card class="container">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>RULES</mat-card-title>
        <mat-card-subtitle>No one escapes them</mat-card-subtitle>
    </mat-card-header>
    <mat-list role="list">
        <mat-list-item role="listitem"> 1. Sei respektvoll gegenüber den anderen Spielern</mat-list-item>
        <mat-list-item role="listitem"> 2. Während des kämpfens darf nicht ausgeloggt werden</mat-list-item>
        <mat-list-item role="listitem"> 3. Es dürfen keine Allianzen mit anderen Teams geschlossen werden</mat-list-item>
        <br>
        <mat-list-item role="listitem"> 4. Lese die Regeln</mat-list-item>
    </mat-list>
</mat-card>